body{
    background-image: url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}   
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white
    
}
.div1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    background-color:beige;

}
.div2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.div3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: beige;
    margin-top: 10px;
    padding: 5px;


}
a{
    color: black;
}
